# Environment variables
.env

# Python specific files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/

# IDE specific files (e.g., VS Code)
.vscode/
.idea/

# Operating System Files
.DS_Store # macOS
Thumbs.db # Windows